.aside {
    width: 20%;
    padding: 15px;
    .aside__title {
        color: #fff;
        margin-right: 15px;
        position: relative;
        font-weight: 600;
        font-size: 21px;
        color: #fff;
        padding: 20px 30px;
        background: #38a9ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
