.dropdown-container {
  position: relative;
}

.dropdown-button {
  background-color: #6a1b9a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #8e44ad;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-item {
  padding: 10px;
  color: white;
  cursor: pointer;
  background-color: #8e44ad;
}

.dropdown-item:hover {
  background-color: #6c3483;
}

.dropdown-item:last-child {
  background-color: #1e88e5;
  color: white;
}

.dropdown-item:last-child:hover {
  background-color: #1565c0;
}