// colors
$text-color : #353535;
$black : #000000;
$white : #ffffff;
$red-dark : #F1473C;
$red-dark-hover : rgb(208, 54, 43);
$red-10 : #F9F8F8;
$orange : #FF9E1F;
$green : #2CB93A;
$grey-80 : #353535;
$grey-85 : #343434;
$grey-75 : #F5F5F5;
$grey-70 : #797979;
$grey-65 : #C4C4C4;
$grey-60 : #A09A9A;
$grey-55 : #E8E7E7;
$grey-50 : #EBECED;
$grey-10 : #FCFCFC;
$black-03 : rgba(0, 0, 0, 0.3);

// Font sizes
$font-size-10 : 10px;
$font-size-12 : 12px;
$font-size-14 : 14px;
$font-size-15 : 15px;
$font-size-16 : 16px;
$font-size-18 : 18px;
$font-size-20 : 20px;
$font-size-22 : 22px;
$font-size-24 : 24px;
$font-size-28 : 28px;
$font-size-32 : 32px;
$font-size-40 : 40px;
$font-size-46 : 46px;
$font-size-48 : 48px;

//page withs
$max-width-1359:1359px;
$max-width-1200 : 1200px;
$max-width-991 : 991px;
$max-width-767 : 767px;
$max-width-576 : 576px;

// transitions
$transition : 0.3s;